{%extends 'df_goods/list.html'%}

{%block head%}

<script type="text/javascript">

	$(function(){
	    function js() {
            // 获取单价和数量并计算总价格
            var dj = parseFloat($('.show_pirze').children('em').text());
            var count = parseInt($('.num_show').val());
            var zj = dj * count;
            // 插入总计,保留2位小数
            $('.total').children('em').text(zj.toFixed(2) + '元');

        };
// -----------------------------------------------------------------
	  // 点击购物车发送请求的

		$('#add_cart').click(function(){

		    $.get('/index/detail_handle',{"nums":$('.num_show').val(),"goodsid":$("#goodsid").val()},function(data){
					alert(data.count)
					// 插入购物车
				$('#show_count').text(data.count);

			});



		});




//  add-------------------------------------------------------------
		// 绑定点击时间
		var nums = 1;
		var kcnums = parseInt($('#kc').val());
		if(kcnums <= 0)
		{
		 $('.num_show').val(0)
		}
		$('.num_show').val(nums)
		js();
		// 绑定增加
		$('.add').click(function(){

		    if($('.num_show').val()<kcnums&&$('.num_show').val()>=0)
		    {
		        nums+=1;
                $('.num_show').val(nums);

            }

		js();
		});
// minus--------------------------------------------


		if($('.num_show').val() >= kcnums)
		{
		 $('.num_show').val(kcnums)
		}


		// 绑定minus
		$('.minus').click(function(){

		    if($('.num_show').val()<=kcnums&&$('.num_show').val()>0)
		    {
		        nums-=1;
                $('.num_show').val(nums);

            }

		js();
		});


//--------------------------------------------------------
	});


</script>

{%endblock head%}




{%block content1%}
<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">{{type.ttitle}}</a>

		<span>></span>
		<a href="#">商品详情</a>
</div>


<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/{{goods.gpic}}"></div>

		<div class="goods_detail_list fr">
			<h3>{{goods.gtitle}}</h3>
			<p>{{goods.gjianjie}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goods.gprice}}</em></span>
				<span class="show_unit">单  位：{{goods.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" >
					<input type="hidden" value="{{goods.gkucun}}" id="kc">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>
				</div>
			</div>
			<div class="total">总价：<em></em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>
				<input type="hidden" value="{{goods.id}}" id="goodsid">
			</div>
		</div>
	</div>


{%endblock content1%}

{%block right%}

<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<p> &nbsp;</p>
                {{goods.gcontent|safe}}

			</div>

		</div>
	</div>
{%endblock right%}