{%extends 'bash.html'%}


{%block content%}
<!--分类 轮播部分-->
<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="/index/list1/" class="fruit">新鲜水果</a></li>
			<li><a href="/index/list2/" class="seafood">海鲜水产</a></li>
			<li><a href="/index/list3/" class="meet">猪牛羊肉</a></li>
			<li><a href="/index/list4/" class="egg">禽类蛋品</a></li>
			<li><a href="/index/list5/" class="vegetables">新鲜蔬菜</a></li>
			<li><a href="/index/list6/" class="ice">速冻食品</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>


<!--商品部分-->
	<!--接收到所有商品分类的对象列表type_list,列表里面为属性和排序的字典-->
	{%for type in type_list%}
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">{{type.type}}</h3>
			<div class="subtitle fl">
				<span>|</span>
				{%for goods in type.gclick%}
				<a href="#">{{goods.gtitle|truncatechars:10}}</a>
				{%endfor%}

			</div>
			<a href="/index/list{{forloop.counter}}_/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">


			<div class="goods_banner fl"><img src="/static/images/banner0{{forloop.counter}}.jpg"></div>
			<ul class="goods_list fl">
				{%for good in type.new%}
				<li>
					<h4><a href="#">{{good.gtitle}}</a></h4>
					<a href="#"><img src="/static/{{good.gpic}}"></a>
					<div class="prize">¥ {{good.gprice}}</div>
				</li>
				{%endfor%}



</ul>
		</div>
{%endfor%}

{%endblock content%}