{%extends 'bash.html'%}


{%block head%}

<script type="text/javascript">

$(function(){

// -------------封装计算函数--------------------------------------------------
	function js() {
	    // 初始化总计
	    var zj = 0;
		// 使用循环计算每一条商品的小计
		$('.cart_list_td').each(function () {
			//获取单品价格
			var dj = parseFloat($(this).children('.col05').find('em').text());
			// 获取单品数量
			var count = parseInt($(this).find('.num_show').val());
			// 计算小计并插入
			var xj = parseFloat((dj * count).toFixed(2));
			$(this).children('.col07').text(xj + '元');
			//判断是否勾选
			if($(this).children('.col01').find('input').prop('checked'))
			{
				 // 计算总计
				zj += xj;
			};
		});
		// 插入总计
		$('.settlements').children('.col03').find('em').text(zj.toFixed(2));
		$('.settlements').find('input').eq(1).val(zj.toFixed(2));

		 };
//--------------------------------------------------------------------------------
	js();

//-------------点击选项----------------------------------------------------------
	$('#checkedall').change(function(){
		//如果选中全选,则其他的浮选框都选中
		if($(this).prop('checked'))
		{
		    $(':checkbox').prop('checked',true);
		}
		//否则其他的复选框全部取消
		else
		{
		  $(':checkbox').prop('checked',false);
		};
		js();
	});

//-------------------------------------------------------------------------------
	$(':checkbox').not($('#checkedall')).change(function(){
		var num1 = $(':checked').not($('#checkedall')).length;
		var num2 = $(':checkbox').not($('#checkedall')).length;
		if(num1<num2)
		{
		   $('#checkedall').prop('checked',false);
		}
		else
		{
		   $('#checkedall').prop('checked',true);
		}
	js();
	});

//---------------------add--------------------------------------------------------

	$('.add').click(function(){
	    // 获取当前的数量
	   var nums = parseInt($(this).next().val());
	   if(nums < $(this).parents('.col06').prevAll('.col03').find('em').text())
	   {
           $(this).next().val(nums + 1);

       };


	   // 获取商品id
		var goodsId = $(this).parents('.col06').prevAll('.col01').find('input').val();
		// 发送请求
	  $.get('/cart/cart_handle/',{'cart_id':goodsId,'status':'add','count':1})

	});

//---------------------	minus--------------------------------------
	$('.minus').click(function(){
	    var nums = parseInt($(this).prev().val());
	     if(nums > 0)
	     {
             $(this).prev().val(nums - 1);
             js();
         }

          // 获取商品id
		var goodsId = $(this).parents('.col06').prevAll('.col01').find('input').val();
		// 发送请求
	  $.get('/cart/cart_handle/',{'cart_id':goodsId,'status':'minus','count':1})


	});
//-------------------------删除------------------------------------------------------


	$('.col08').click(function(){
	   $(this).parent().remove();
		js();

		    // 获取商品id
		var goodsId = $(this).parents('.cart_list_td').children('.col01').find('input').val();
		var counts = $(this).parents('.cart_list_td').children('.col06').find('input').val();

		// 发送请求
		//var object = $(this)
	  $.get('/cart/cart_handle/',{'cart_id':goodsId,'status':'d','count':counts},function(data){

		 $('#show_count').text(data.cart_count)

		});


	});



//-------------------------------------------------------------------------
});


</script>

{%endblock head%}



{%block content%}
<div class="total_count">全部商品<em>{{cart_nums}}</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>

	<form method="post" action="/order/">
		{%csrf_token%}
	{%for goods in goods_object%}
	<ul class="cart_list_td clearfix" >
		<li class="col01"><input type="checkbox" name="cart_id" checked="checked" value="{{goods.id}}"></li>
		<li class="col02"><img src="/static/{{goods.goods.gpic}}"></li>
		<li class="col03">{{goods.goods.gtitle}}<br>库存:<em>{{goods.goods.gkucun}}</em></li>
		<li class="col04">{{goods.goods.gunit}}</li>
		<li class="col05"><em>{{goods.goods.gprice}}</em>元</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" value="{{goods.count}}">
				<a href="javascript:;" class="minus fl">-</a>
			</div>
		</li>
		<li class="col07">25.80元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
	{%endfor%}



	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" id="checkedall" checked="checked"></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>{{cart_nums}}</b>件商品</li>
		<input type="hidden" name="zj" value="">

		<li class="col04"><input type="submit" value="去结算" ></li>
	</ul>
		</form>
{%endblock content%}